<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>23775309354-ncuhids0tmcng6ok2g9n81bbbr4lsh41.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.23775309354-ncuhids0tmcng6ok2g9n81bbbr4lsh41</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>23775309354-tvvs5gclmoil183133jt6370ukk0uq4m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_HqU1lrN_sjTcbmCb2ulczpaFXPUMo7I</string>
	<key>GCM_SENDER_ID</key>
	<string>23775309354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.englishuniversegv.app</string>
	<key>PROJECT_ID</key>
	<string>englishuniverse-3e408</string>
	<key>STORAGE_BUCKET</key>
	<string>englishuniverse-3e408.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:23775309354:ios:8965d067f0896f1ace5d53</string>
</dict>
</plist>